<%= error_messages_for :feed -%>
<% custom_form_for(:feed, :url => polymorphic_url([parent, :feeds], :format => 'pjs')) do |f| -%>
  <%= f.text_field :title, { :label => t('muck.services.title' ) }  %>
  <%= f.text_field :uri, { :label => t('muck.services.add_feed_url' ) }  %>
  <%= f.hidden_field :service_id %>
  <div class="button form-row">
    <%= submit_tag t('muck.services.add_feed'), :id => 'add_feed_uri' %>
    <span id="finding_uri_message" style="display:none;">
      <%= t('muck.services.submitting_feed_message') %> <img src="/images/spinner.gif" alt="<%= t('muck.services.loading_image') %>" />
    </span>
  </div>
<% end -%>
<% content_for :javascript do -%>
jQuery(document).ready(function() {
  jQuery('#add_feed_uri').click(function(){
    jQuery(this).hide();
    jQuery('#finding_uri_message').show();
  });
});
<% end -%>