<div id="add-feed">
  <%= output_errors(t('muck.services.problem_adding_feed'), {:class => 'help-box'}, @feed) %>
  <%= muck_form_for(:feed, :url => select_feeds_feed_previews_path) do |f| -%>
    <%= f.text_field :uri, { :label => t('muck.services.add_feed_url' ) }  %>
    <div class="button form-row">
      <%= submit_tag t('muck.services.add_feed'), :id => 'add_feed_uri' %>
      <span id="finding_uri_message" style="display:none;">
        <%= t('muck.services.discover_feed_message') %><img src="/images/loading.gif" alt="<%= t('muck.services.loading_image') %>" />
      </span>
    </div>
  <% end -%>
</div>
<% content_for :javascript do -%>
<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function() {
  jQuery('#add_feed_uri').click(function(){
    jQuery(this).hide();
    jQuery('#finding_uri_message').show();
  });
});
</script>
<% end -%>