<% cache({:locale => Language.locale_id, :format => 'pjs', :details => @details, :limit => @limit, :order => @order, :id => @entry.id, :omit_feeds => @omit_feeds}) do %>
<%
@host = "http://#{URI.parse(@uri).host}"
if !@recommendations.empty?
@direct_link_text = params[:direct_link_text] || t('muck.services.direct_link')
%>
var catalog_page = <%= !@entry.direct_link.nil? and @uri == @entry.permalink %>;
var document_host = '<%= @host %>';
var recs = <%= @recommendations.to_json %>;
var app = "<%= request.protocol + request.host_with_port + '/' %>"; 
<% if @details == true -%>
function truncate(text, length) {
	nEnd = text.indexOf(" ", 200);
	if (nEnd < 200) return text;
	else return text.substring(0, nEnd) + " ...";
}
            var once = true;
var asMonths = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
function format_date(published_at) {
    date = new Date(Date.parse(published_at.substring(0,10).replace(/-/g,"/")));
	return date.getDate() + " " + asMonths[date.getMonth()] + " " + date.getUTCFullYear();
}
<% end %>
document.write('<div class="oer_recommender_container">');
<% if params[:title] %>document.write('<div class="oer_recommender_title"><%= t('muck.services.gm_title') %></div>');<% end %>
document.write('<div class="oer_recommender_list">');
for(nRec = 0; nRec < recs.length; nRec++) {
	r = recs[nRec].entry;
    if (r == null) r = recs[nRec].attributes;
    if (r == null) r = recs[nRec];
	metadata_link = catalog_page && document_host == r.uri.substring(0, document_host.length);
	direct_link = metadata_link && r.direct_link;
	document.write('<p class="oer_recommender_item">');
	document.write('<a class="oer_recommender_recommendation_link" href="' + app + 'r?id=' + r.recommendation_id + (metadata_link ? "&target=metadata" : "") + '">' + r.title + ' (' + r.collection + ')</a>');
	if (direct_link) document.write(' <a class="oer_recommender_direct_link" href="' + app + 'r?id=' + r.recommendation_id + '&target=direct_link"><%= @direct_link_text %></a>');
<% if @details == true -%>
	document.write(' <span class="oer_recommender_published_at">(' + format_date(r.published_at) + ')</span>');
	document.write(' <span class="oer_recommender_relevance_score"><%= t('muck.services.relevance')%>: ' + Math.round(r.relevance*100)/100 + '</span>');
	if (r.description) document.write('<br/><span class="oer_recommender_description">' + truncate(r.description) + '</span>');
	document.write('<br/><span class="oer_recommender_uri">' + r.permalink + '</span>');
<% end -%>	
	document.write('</p>');
}
document.write('</div>');	
<% if params[:more_link] %>document.write('<div class="oer_recommender_more_link"><a href="' + app + 'resources/<%= @entry.id %>"><%= t('muck.services.gm_more_prompt') %></a></div>');<% end %>
document.write('</div>');	
<% end %>
<% end %>