<%= output_errors('', {:class => 'help-box'}) %>

<% custom_form_for(:topic, :url => topics_path, :html => {:method => :post}) do |f| -%>
  <div id="add-data-source" class="services-main span-6 column">
    <h2><%= I18n.t('muck.services.search_for') %></h2>
    <%= text_field_tag :terms, params[:terms] %>
    <p><%= t('muck.services.terms_instructions') %></p>
    <div class="button form-row">
      <%= f.submit t('muck.services.build_topic'), :id => 'generate_topic' %>
      <span id="generating_topic_message" style="display:none;">
        <%= t('muck.services.generating_topic_message') %><img src="/images/spinner.gif" alt="<%= t('muck.services.discover_feed_message') %>" />
      </span>
    </div>
  </div>
  <div id="data-sources" class="services-main span-16 column">
    <h2><%= I18n.t('muck.services.available_sources') %></h2>
    <%= data_sources(@service_categories) %>
  </div>
<% end -%>
<% content_for :javascript do -%>
jQuery(document).ready(function() {
    jQuery('#generate_topic').click(function(){
        jQuery(this).hide();
        jQuery('#generating_topic_message').show();
    });
});
<% end -%>